body,
html {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Condensed', sans-serif;
  font-weight: 100;
  font-size: 14px;
}

h1 {
  font-family: 'Roboto-Condensed', sans-serif;
  font-weight: 100;
  font-size: 32px;
}

h2 {
  font-family: 'Roboto-Condensed', sans-serif;
  font-weight: 100;
  font-size: 26px;
}

.instructions {
  background-color: #dbdbdb;
  color: #333333;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.content {
  padding: 2%;
  margin: auto;
}

.welcome {
  text-align: center;
}

.navList .logout {
  float: right;
  color: #333333;
}

.container p {
  margin-top: 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger {
  margin-left: 10px;
}

.navbar {
  background-color: #dbdbdb;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navList li {
  float: left;
}

li a {
  display: block;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  color: #f2f2f2;
}

a {
  color: teal;
}

a:visited {
  color: orchid;
}