<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h2>Requirements:</h2>
    <p>User can log into system.</p>
    <p>User can see list of previously generated tiny URLs and a record of how many times those tiny urls were clicked.</p>
    <p>User can create a new tiny URL by entering a full URL.</p>
    <p>When user goes to the tiny URL, they are redirected to the full URL.</p>
    <hr>
    <h2>Known Issues &amp; Next Steps:</h2>
    <ul>
        <li>
            Logout issue where next user to login sees previous user's URLs - cookies issue?
        </li>
        <li>
            There's got to be a better way to update the DOM than forcing a refresh
        </li>
        <li>
            Add ability to delete URLs
        </li>
        <li>
            Deploy!
        </li>
    </ul>
</div>