<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!</h1>
    <button class="btn btn-default" ng-click="vm.userService.logout()">Log Out</button>
    
    <div class="input">
        <h2>Enter a URL to shorten:</h2>
        <input type="text" placeholder="example.com" ng-model="vm.longUrl">
        <button class="btn btn-default" ng-click="vm.shortenUrl(vm.longUrl)">Shorten It!</button>
    </div>
    <div class="output">
       <p>
        {{vm.urlObject}}
       </p> 
       <button class="btn btn-default" ng-click="vm.getUrls(vm.userObject.id)">My URLs</button>
    </div>
</div>
